name: CI 테스트 자동화

# event trigger
# 테스트 관련 push 또는 pull_request 발생
on:
  push:
    branches:
      - main
      - release-*
      - develop
    paths : "src/test/**"
  pull_request:
    branches:
      - main
      - release-*
      - develop
    paths : "src/test/**"

permissions:
  contents: read

# 실제 실행될 내용들을 정의합니다.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Open jdk 17 버전 환경을 세팅
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Gradle caching - 빌드 시간 향상
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      #Set up Gradle
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Github Submodule에서 환경변수 가져옴
        uses: actions/checkout@v4
        with:
          token: ${{secrets.CONFIG_TOKEN}}
          submodules: true

      - name: Docker를 위해 프로젝트 메타정보 추출
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/daily-pay
          # 가장 최신 image 에 latest tag 달기
          flavor: |
            latest=true
          # Git short commit, use git version tag
          tags: |
            type=semver,pattern={{version}}

      - name: 테스트 수행
        run: |
          chmod +x ./gradlew
          ./gradlew test 

      - name: 테스트 실패 시, 실패한 코드 라인에 Check 코멘트를 등록
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          token: ${{ secrets.CONFIG_TOKEN }}
